@{
    ViewBag.Title = "About";
}
			<header class="sub-page-title">							
				<div class="container">
					<div class="row">						
						<div class="col-md-6">														
							<img src="~/images/hero/about.jpg" class="img-responsive left-img">
						</div>
						<div class="col-md-6 title-text">
							<h1>About</h1>
							<p>At Bates Orthodontics, our mission is to provide an exceptional orthodontic experience for our patients in a professional, exciting, and caring environment.</p>
							<p>Please take a look around and find out a little bit more about our practice!  If you have any questions, please let us know!</p>																
						</div>
					</div>
				</div>
			</header>



			<section id="main-content" class="sub">
				
				<div id="content" class="container">
					<div class="row">
						
						

						<div class="col-md-3 right-sidebar">
							<div id="sidebar" role="complementary">
								<ul class="nav sidebar">
									<li class="active"><a href="#meet">Meet Dr. Bates</a></li>
									<li><a href="#setapart">What sets us apart</a>
										<ul class="nav">
											<li><a href="#hours">Increased Hours</a></li>
											<li><a href="#plans">Customized Treatment Plans</a></li>
											<li><a href="#locations">Convenient Locations</a></li>
											<li><a href="#service">Excellent Customer Service</a></li>
											<li><a href="#quality">Highest Quality Materials</a></li>
											<li><a href="#nopressure">No Pressure to Start</a></li>
										</ul>
									</li>
													
									<li><a href="#team">Meet the team</a></li>									
								</ul>
							</div>
						</div>

						<div class="col-md-9 right" role="main">							

							<section id="meet" class="title-section">
									<div class="row">
										<div class="col-md-12">
											<h2>Meet Dr. Bates</h2>	

											<img src="http://placehold.it/420x240" class="img-responsive left-img">
																					
											<p>Dr. Bates received his undergraduate Biology degree from Wofford College in Spartanburg, South Carolina as a summa cum laude graduate.  To further his education, he attended the Medical University of South Carolina where he received his DMD degree with high honors and was inducted into the prestigious Omicron Kappa Upsilon dental society.</p>

											<p>To become specially educated in orthodontics, Dr. Bates received his Master’s Degree and Specialty Certificate in orthodontics from Virginia Commonwealth University.  Through this training he was exposed to the latest orthodontic techniques and technology.</p>	

											<p>In addition, during his residency, Dr. Bates fell in love with his wife, Taylor, and Richmond and they decided to make it home.  Dr. Bates and his wife are committed and active members of the Richmond community and are active members in Redemption Hill Church.  They desire to support local businesses and artists and strive to highlight the cultural wealth that Richmond has to offer.</p>

											<p>In their free time, Dr. Bates and his wife can be found exploring Virginia and enjoying the outdoors. Dr. Bates has also been known to photograph a wedding or two in support of his wife's photography business. The two also love working on their recently purchased, nearly 90-year-old house. Dr. Bates loves yard work, be sure to ask about his latest project!</p>
										</div>
									</div>									
							</section><!-- /# -->


							<section id="setapart" class="title-section">								
								<div class="row">
									<div class="col-md-12">
										<h2>What sets us apart</h2>	

										<p>We realize that choosing an orthodontist is a big decision for most families, and with so many orthodontists around, how do you decide which is best for you?</p>
										<p>It is important to us that you find a place where you feel comfortable.</p>
										<p>Here are some reasons we think that we might be the right orthodontic practice for you:</p>

										<div class="row title-section" id="hours">
											<div class="col-md-12">
												<h3>﻿﻿Increased Hours</h3>
												<p>Each patient is important to Dr. Bates.  In order to provide better service, Dr. Bates has increased his hours to enable him to spend more time with each patient.</p>
											</div>
										</div>
										<div class="row title-section" id="plans">
											<div class="col-md-12">
												<h3>Customized Treatment Plans</h3>
												<p>Each treatment plan is customized for you after we analyze all of the information from your exam and determine what is the best course of action for the patient.</p>
											</div>
										</div>
										<div class="row title-section" id="locations">
											<div class="col-md-12">													
												<h3>Convenient Locations</h3>
												<p>We have two convenient locations located in Henrico and Hanover.  Whether you’re on the West side of Richmond or the East side, we have a location convenient to you.</p>
											</div>
										</div>
										<div class="row title-section" id="service">
											<div class="col-md-12">												
												<h3>Excellent Customer Service</h3>
												<p>When you become a patient, you become a part of our family and are treated the way that we treat our family.</p>
												<p>Excellence in treatment alone is not enough.  We believe in giving you superior customer service and want your orthodontic experience to be fantastic.  After you start treatment, we will call you to check in and provide the doctor's home phone number in case of emergencies.  We do all these things and more to give you the best treatment experience possible.</p>
											</div>
										</div>
										<div class="row title-section" id="quality">
											<div class="col-md-12">													
												<h3>Highest Quality Materials</h3>
												<p>Excellent treatment demands excellent materials, so we only use the highest quality braces and wires.  Dr. Bates is also certified in using Invisalign and Invisalign Teen, the highest quality clear aligner system for "invisible" orthodontic treatment.</p>
											</div>
										</div>
										<div class="row title-section" id="nopressure">
											<div class="col-md-12">												
												<h3>No Pressure to Start</h3>
												<p>Your first visit to our office is designed to be informative and educational, where we discuss your expectations, needs, and treatment options.  Dr. Bates will let you know the optimal time to begin orthodontic treatment, and if it is appropriate to wait, we will suggest annual or semi-annual observation visits until the time is right to begin.  We will never pressure you to start treatment - only give you our best recommendations to ensure the best treatment possible.</p>
											</div>
										</div>																				
									</div>
								</div>										
							</section><!--/# -->


							<section id="team" class="title-section">								
								<div class="row">
									<div class="col-md-12">
										<h2>Meet the Team</h2>
										
										<div class="row content-section">
											<div class="col-md-4">
												<img src="http://placehold.it/145x180" class="img-responsive image-col" width="100%">
											</div>
											<div class="col-md-8">
												<h3>Nicole Thomas</h3>
												<p>
													Nicole will most likely be the first voice you hear when you call our office (and more than likely after only one ring).  She was born in Lynchburg, lived all over the southeast and ultimately landed in Midlothian.  Before coming to our office, she attended nursing school, and worked at Wells Fargo.  Prior to that she taught gymnastics for 8 years.  Nicole loves meeting people, developing relationships, and discovering the unique stories of our family of patients.  We enjoy having someone so passionate about people working with us.</p>

													<p>When she is not in the office she likes spending time with her two-year-old son Deacon, trying to keep up with him.  She is also an avid Dallas Cowboys fan! (We give her a hard time about it, too).
												</p>
											</div>
										</div>

										<div class="row content-section">
											<div class="col-md-4">
												<img src="http://placehold.it/145x180" class="img-responsive image-col" width="100%">
											</div>
											<div class="col-md-8">
												<h3>Sara Robinson</h3>
												<p>
													As a new patient, you will most likely be meeting with Sara to welcome you to our practice and show you around. Sara has been in the orthodontic field for over 20 years.  She has a love and passion for helping people obtain their ideal smiles, and dental health.  She believes that every patient should be treated as one of her family. She will help answer any questions or concerns you may have during your appointment and treatment and loves making our patients feel welcome and comfortable during their visits.</p>

													<p>Sara has been married for 22 years and has 3 children: Taylor (20), Peyton (15) and Jacob (12). She grew up in Chesterfield and now lives in Powhatan. She likes spending her time camping, kayaking and being outside.</p>  

													<p>She is a certified orthodontic assistant through the AAO and has her Lab and Invisalign certifications.  Sara's favorite part of Orthodontics is "getting to know the patients and watching as their confidence grows through a beautiful smile."
												</p>
											</div>
										</div>


										<div class="row content-section">
											<div class="col-md-4">
												<img src="http://placehold.it/145x180" class="img-responsive image-col" width="100%">
											</div>
											<div class="col-md-8">
												<h3>Catey Janney</h3>
												<p>
													Catey recently moved back to Richmond from Fredericksburg and joined our office shortly thereafter.  She has 8 years of orthodontic assisting experience.  She also completed a Dental Lab Technology program at J. Sergeant Reynolds Community College in 2008 and has brought her training to our lab.  Catey is very skilled and artistic, loves to work with her hands and loves watching smiles change over time.</p>

													<p>When Catey is not working to improve smiles, she loves to make and decorate cakes, and has taken completed the Wilton Courses.  She loves spending time with her Chihuahua "Chessie."  She was recently engaged to her boyfriend of 3 years, David, and is currently in the process of planning her wedding for February.
												</p>
											</div>
										</div>


										<div class="row content-section">
											<div class="col-md-4">
												<img src="http://placehold.it/145x180" class="img-responsive image-col" width="100%">
											</div>
											<div class="col-md-8">
												<h3>Rikki Freeman</h3>
												<p>
													Rikki has been a great addition to the Bates Orthodontics team!  She has been in orthodontics for nearly ten years.  You will most often see her in our Mechanicsville location and occasionally in the West End.
												</p>
											</div>
										</div>
										
									</div>												
								</div>																																														
							</section><!-- /members -->
						
						</div>						

					</div>	
				</div><!-- /#content -->

			</section><!-- /#main-content -->