@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




            <header class="sub-page-title">                         
                <div class="container">
                    <div class="row">                        
                        <div class="col-lg-6">
                            
                            <img src="~/images/hero/appointments-hero.jpg" class="img-responsive">                                                                                   
                        </div>
                        <div class="col-lg-6 title-text">
                            <h1>Appointments</h1>
                            <p>Thank you for your interest in our services.  Please fill out the information below, and our scheduling coordinator will contact you to schedule an appointment time.  We look forward to seeing you soon.</p>
                            <p>Please note this form is for requesting an appointment.  If you need to cancel or reschedule an existing appointment, or if you require immediate attention, please contact our practice directly.</p>
                        </div>
                    </div>
                </div>
            </header>



            <section id="main-content" class="sub">
                
                <div id="content" class="container">
                    <div class="row">
                        
                        

                        <div class="col-md-3 right-sidebar">
                            <div id="sidebar" role="complementary">
                                <ul class="list">
                                    <li><strong><a href="https://www.google.com/maps/dir//3800+Stillman+Pkwy+%23101,+Richmond,+VA+23233/&#64;37.6401988,-77.5668509,17z/data=!4m13!1m4!3m3!1s0x89b16ab419c2f4c9:0xbac476ab40a473d1!2s3800+Stillman+Pkwy+%23101,+Richmond,+VA+23233!3b1!4m7!1m0!1m5!1m1!1s0x89b16ab419c2f4c9:0xbac476ab40a473d1!2m2!1d-77.5668509!2d37.6401988" target="_blank">West End</a></strong></li>
                                    <li>Monday - 10:30 - 6:30</li>
                                    <li>​Tuesday - 8:30 - 4:30</li>
                                    <li>Wednesday - 8:30 - 4:30</li>
                                    <li class="contact"><strong><a href="https://www.google.com/maps/dir//4025+Mechanicsville+Turnpike,+Richmond,+VA+23223/&#64;37.5797219,-77.393072,17z/data=!4m13!1m4!3m3!1s0x89b1176926ab959f:0x209df1c8627f91a3!2s4025+Mechanicsville+Turnpike,+Richmond,+VA+23223!3b1!4m7!1m0!1m5!1m1!1s0x89b1176926ab959f:0x209df1c8627f91a3!2m2!1d-77.393072!2d37.5797219" target="_blank">Mechanicsville​​</a></strong></li>
                                    <li>Thursday - 8:30 - 4:30</li>                                 
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-9 right" role="main">
                            <ul class="nav nav-tabs" role="tablist" id="myTab">
                              <li role="presentation" class="active"><a href="#appt" role="tab" data-toggle="tab">Schedule an appointment</a></li>
                              <li role="presentation"><a href="#refer" role="tab" data-toggle="tab">Refer a Patient</a></li>
                              <li role="presentation"><a href="#sponsor" role="tab" data-toggle="tab">Sponsorship Request</a></li>                          
                            </ul>
                            <div class="tab-content">
                              <div role="tabpanel" class="tab-pane active" id="appt">
                                <form role="form" id="patient-appt">
                                    <div class="form-group">
                                        <label for="txtFirstName">Patient Name <span class="required">*</span></label>
                                        <label for="txtLastName" style="display:none;"></label>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="txtFirstName" name="txtFirstName" placeholder="First Name" required>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="txtLastName" name="txtLastName" placeholder="Last Name" required>
                                            </div>
                                        </div>                              
                                    </div>
                                    <div class="form-group">
                                      <label for="txtDOB">Patient Birthdate<span class="required">*</span></label>
                                      <div class="input-group date">                                    
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                          <input type="text" class="form-control" id="txtDOB" name="txtDOB">
                                      </div>
                                    </div>                          
                                    <div class="form-group">
                                        <label for="txtRespPartyFirstName">Responsible Party Name <span class="required">*</span></label>
                                        <label for="txtRespPartyLastName" style="display:none;"></label>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="txtRespPartyFirstName" name="txtRespPartyFirstName" placeholder="First Name" required>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="txtRespPartyLastName" name="txtRespPartyLastName" placeholder="Last Name" required>
                                            </div>
                                        </div>                                                          
                                    </div>                          
                                    <div class="form-group">
                                        <label for="ddlNewPatient">New Patient?</label>
                                        <div class="form-group">                                  
                                            <select id="ddlNewPatient" name="ddlNewPatient" class="form-control">
                                                <option>Yes</option>
                                                <option>No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">                                    
                                        <label class="control-label" for="txtPhone">Phone number <span class="required">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                            <input type="text" class="form-control" id="txtPhone" name="txtPhone" placeholder="XXX-XXX-XXXX" required>     
                                      </div>
                                    </div>
                                    <div class="form-group">                                    
                                        <label for="txtEmail" class="control-label">Email <span class="required">*</span></label>  
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                            <input type="text" class="form-control" id="txtEmail" name="txtEmail" placeholder="Email" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="contactType">Preferred mode of contact <span class="required">*</span></label>
                                        <div class="form-group">                                  
                                            <select id="contactType" name="contactType" class="form-control">
                                                <option>Phone</option>
                                                <option>Email</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Preferred Appointment Days<span class="required">*</span></label>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="prefApptDays" value="Monday"> Monday (West End)
                                            </label>
                                            <label>
                                                <input type="checkbox" name="prefApptDays" value="Tuesday"> Tuesday (West End)
                                            </label>
                                            <label>
                                                <input type="checkbox" name="prefApptDays" value="Wednesday">Wednesday (West End)
                                            </label>
                                            <label>
                                                <input type="checkbox" name="prefApptDays" value="Thursday">Thursday (Mechanicsville)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                      <label class="control-label" for="txtConvenientTimes">Convient Times</label>
                                        <textarea class="form-control" rows="3" id="txtConvenientTimes" name="txtConvenientTimes"></textarea>
                                    </div>
                                    <div class="form-group">
                                      <label class="control-label" for="txtHowDidYouHear">How did you hear about our practice?</label>
                                        <input type="text" class="form-control" id="txtHowDidYouHear" name="txtHowDidYouHear">              
                                    </div>
                                    <div class="form-group">
                                      <label class="control-label" for="txtGeneralDentistName">Name of General Dentist</label>
                                        <input type="text" class="form-control" id="txtGeneralDentistName" name="txtGeneralDentistName">             
                                    </div>
                                    <div class="form-group">
                                      <label class="control-label" for="txtAdditionalComments">Additional Comments</label>
                                        <textarea class="form-control" id="txtAdditionalComments" name="txtAdditionalComments" rows="3"></textarea>
                                    </div>
                                    <input type="submit" value="Send Request" class="btn btn-default" id="btnSaveAppointmentRequest">
                                </form> <!-- end patient appt form -->
                              </div>


                              <div role="tabpanel" class="tab-pane" id="refer">
                                  <form role="form" id="patient-refer">
                                      <div class="form-group">
                                          <label for="txtDoctorFirstName">Doctor Name<span class="required">*</span></label>
                                          <label for="txtDoctorLastName" style="display:none;"></label>
                                          <div class="row">
                                              <div class="col-sm-3">
                                                  <input type="text" class="form-control" id="txtDoctorFirstName" name="txtDoctorFirstName" placeholder="First Name" required>
                                              </div>
                                              <div class="col-sm-4">
                                                  <input type="text" class="form-control" id="txtDoctorLastName" name="txtDoctorLastName" placeholder="Last Name" required>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label for="txtPracticeName" class="control-label">Practice Name <span class="required">*</span></label>
                                          <input type="text" class="form-control" id="txtPracticeName" name="txtPracticeName" required>
                                      </div>
                                      <div class="form-group">
                                          <label for="txtEmail" class="control-label">Email <span class="required">*</span></label>
                                          <div class="input-group">
                                              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                              <input type="text" class="form-control" id="txtDoctorEmail" name="txtDoctorEmail" placeholder="Email" required>
                                          </div>
                                      </div>
                                      <hr>
                                      <div class="form-group">
                                          <p class="label">Referral Information</p>
                                          <label for="txtPatientFirstName">
                                              Name of the patient you are referring <span class="required">*</span>
                                              <label for="txtPatientLastName" style="display:none;"></label>
                                              <div class="row">
                                                  <div class="col-sm-3">
                                                      <input type="text" class="form-control" id="txtPatientFirstName" name="txtPatientFirstName" placeholder="First Name" required>
                                                  </div>
                                                  <div class="col-sm-4">
                                                      <input type="text" class="form-control" id="txtPatientLastName" name="txtPatientLastName" placeholder="Last Name" required>
                                                  </div>
                                              </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="control-label" for="txtPatientPhone">Patient's Phone <span class="required">*</span></label>
                                          <div class="input-group">
                                              <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                              <input type="text" class="form-control" id="txtPatientPhone" name="txtPatientPhone" placeholder="XXX-XXX-XXXX" required>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label for="txtPatientEmail" class="control-label">Patient's Email <span class="required">*</span></label>
                                          <div class="input-group">
                                              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                              <input type="text" class="form-control" id="txtPatientEmail" name="txtPatientEmail" placeholder="Email" required>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label>Radiographs sent<span class="required">*</span></label>
                                          <div class="checkbox">
                                              <label>
                                                  <input type="radio" name="radiograph" value="Yes" /> Yes
                                              </label>
                                              <label>
                                                  <input type="radio" name="radiograph" value="No" /> No
                                              </label>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="control-label" for="txtComments">Comments</label>
                                          <textarea class="form-control" id="txtComments" name="txtComments" rows="3"></textarea>
                                      </div>
                                      <input type="submit" value="Save Referral" class="btn btn-default" id="btnSaveDoctorReferral">

                                  </form>
                              </div><!-- refer patient form -->



                              <div role="tabpanel" class="tab-pane" id="sponsor">
                                <form role="form" id="sponsorshipRequest">
                                    <div class="form-group">
                                      <label for="dateSponsorshipRequest">Requested Date <span class="required">*</span></label>
                                      <div class="input-group date">                                    
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                          <input type="text" class="form-control" id="dateSponsorshipRequest" name="dateSponsorshipRequest" required>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtFirstName">Sponsor Name<span class="required">*</span></label>
                                        <label for="txtLastName" style="display:none;"></label>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="txtSponsorFirstName" name="txtSponsorFirstName" placeholder="First Name" required>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="txtSponsorLastName" name="txtSponsorLastName" placeholder="Last Name" required>
                                            </div>
                                        </div>                              
                                    </div>
                                    <div class="form-group">                                    
                                        <label class="control-label" for="txtPatientPhone">Phone <span class="required">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                            <input type="text" class="form-control" id="txtSponsorPhone" name="txtSponsorPhone" placeholder="XXX-XXX-XXXX" required>
                                        </div>
                                    </div>

                                    <div class="form-group">                                    
                                        <label for="txtAddress" class="control-label">Address <span class="required">*</span></label>
                                        <input type="text" class="form-control" id="txtAddress" name="txtAddress" required>
                                    </div>
                                    <div class="form-group">                                    
                                        <label for="txtAddressLine2" class="control-label">Address Line 2</label>
                                        <input type="text" class="form-control" id="txtAddressLine2" name="txtAddressLine2">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtCity">City and State<span class="required">*</span></label>
                                        <label for="ddlState" style="display:none;"></label>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="txtCity" name="txtCity" required>
                                            </div>
                                            <div class="col-sm-3">                                                
                                                <select class="form-control" id="ddlState" name="ddlState" required>
                                                    <option value="" selected="selected">Select a State</option>
                                                    <option value="AL">Alabama</option>
                                                    <option value="AK">Alaska</option>
                                                    <option value="AZ">Arizona</option>
                                                    <option value="AR">Arkansas</option>
                                                    <option value="CA">California</option>
                                                    <option value="CO">Colorado</option>
                                                    <option value="CT">Connecticut</option>
                                                    <option value="DE">Delaware</option>
                                                    <option value="DC">District Of Columbia</option>
                                                    <option value="FL">Florida</option>
                                                    <option value="GA">Georgia</option>
                                                    <option value="HI">Hawaii</option>
                                                    <option value="ID">Idaho</option>
                                                    <option value="IL">Illinois</option>
                                                    <option value="IN">Indiana</option>
                                                    <option value="IA">Iowa</option>
                                                    <option value="KS">Kansas</option>
                                                    <option value="KY">Kentucky</option>
                                                    <option value="LA">Louisiana</option>
                                                    <option value="ME">Maine</option>
                                                    <option value="MD">Maryland</option>
                                                    <option value="MA">Massachusetts</option>
                                                    <option value="MI">Michigan</option>
                                                    <option value="MN">Minnesota</option>
                                                    <option value="MS">Mississippi</option>
                                                    <option value="MO">Missouri</option>
                                                    <option value="MT">Montana</option>
                                                    <option value="NE">Nebraska</option>
                                                    <option value="NV">Nevada</option>
                                                    <option value="NH">New Hampshire</option>
                                                    <option value="NJ">New Jersey</option>
                                                    <option value="NM">New Mexico</option>
                                                    <option value="NY">New York</option>
                                                    <option value="NC">North Carolina</option>
                                                    <option value="ND">North Dakota</option>
                                                    <option value="OH">Ohio</option>
                                                    <option value="OK">Oklahoma</option>
                                                    <option value="OR">Oregon</option>
                                                    <option value="PA">Pennsylvania</option>
                                                    <option value="RI">Rhode Island</option>
                                                    <option value="SC">South Carolina</option>
                                                    <option value="SD">South Dakota</option>
                                                    <option value="TN">Tennessee</option>
                                                    <option value="TX">Texas</option>
                                                    <option value="UT">Utah</option>
                                                    <option value="VT">Vermont</option>
                                                    <option value="VA">Virginia</option>
                                                    <option value="WA">Washington</option>
                                                    <option value="WV">West Virginia</option>
                                                    <option value="WI">Wisconsin</option>
                                                    <option value="WY">Wyoming</option>
                                                </select>
                                            </div>
                                        </div>                              
                                    </div>
                                    <div class="form-group">                                    
                                        <label for="txtZip" class="control-label">Zipcode <span class="required">*</span></label>
                                        <input type="text" class="form-control" id="txtZip" name="txtZip" required>
                                    </div>
                                    <hr>
                                    <div class="form-group">                                    
                                        <label for="txtPatientTreatmentStatus" class="control-label">Patient Treatment Status <span class="required">*</span></label>
                                        <input type="text" class="form-control" id="txtPatientTreatmentStatus" name="txtPatientTreatmentStatus" required>
                                    </div>
                                    <div class="form-group">                                    
                                        <label for="txtOrganization" class="control-label">Organization <span class="required">*</span></label>
                                        <input type="text" class="form-control" id="txtOrganization" name="txtOrganization" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Type of Ad</label>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="typeOfAd" value="Program"> Program
                                            </label>
                                            <label>
                                                <input type="checkbox" name="typeOfAd" value="Sign"> Sign
                                            </label>
                                            <label>
                                                <input type="checkbox" name="typeOfAd" value="Other" id="other-ad"> Other (Please Specify)
                                            </label>                                            
                                        </div>
                                    </div>
                                    <div class="form-group" style="display:none">                                    
                                        <label for="txtOther" class="control-label">Other ad specifications <span class="required">*</span></label>
                                        <input type="text" class="form-control" id="txtOther" name="txtOther" required>
                                    </div>
                                    <div class="form-group">                                    
                                        <label for="txtSizeOfAd" class="control-label">Size of ad <span class="required">*</span></label>
                                        <input type="text" class="form-control" id="txtSizeOfAd" name="txtSizeOfAd" required>
                                    </div>
                                    <div class="form-group">                                    
                                        <label for="txtCost" class="control-label">Cost of ad <span class="required">*</span></label>
                                        <input type="text" class="form-control" id="txtCost" name="txtCost" required>
                                    </div>
                                    <div class="form-group">
                                      <label for="txtDueDate">Due Date</label>
                                      <div class="input-group date">                                    
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                          <input type="text" class="form-control" id="txtDueDate" name="txtDueDate">
                                      </div>
                                    </div>
                                    <div class="form-group">                                    
                                        <label for="txtArtworkEmail" class="control-label">Artwork emailed to <span class="required">*</span></label>  
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                            <input type="text" class="form-control" id="txtArtworkEmail" name="txtArtworkEmail" placeholder="Email" required>
                                        </div>
                                    </div>
                                    <div class="form-group">                                    
                                        <label for="txtCheckPayableTo" class="control-label">Check Payable to <span class="required">*</span></label>
                                        <input type="text" class="form-control" id="txtCheckPayableTo" name="txtCheckPayableTo" required>
                                    </div>

                                    <hr>
                                    <div class="form-group">
                                        <p class="label">Send Check/Ad to</p>                                                                                                                                             
                                    </div>
                                    <div class="form-group">  
                                        <label for="txtSendCheckTo" class="control-label">Address</label>     
                                        <input type="text" class="form-control" id="txtSendCheckTo" name="txtSendCheckTo">
                                    </div>
                                    <div class="form-group">  
                                        <label for="txtSendCheckAddressLine2" class="control-label">Address Line 2</label>     
                                        <input type="text" class="form-control" id="txtSendCheckAddressLine2" name="txtSendCheckAddressLine2">
                                    </div>    
                                    <div class="form-group">
                                        <label for="txtSendCheckCity">City and State</label>
                                        <label for="ddlSendCheckState" style="display:none;"></label>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="txtSendCheckCity" name="txtSendCheckCity">
                                            </div>
                                            <div class="col-sm-3">                                                
                                                <select class="form-control" id="ddlSendCheckState" name="ddlSendCheckState">
                                                    <option value="" selected="selected">Select a State</option>
                                                    <option value="AL">Alabama</option>
                                                    <option value="AK">Alaska</option>
                                                    <option value="AZ">Arizona</option>
                                                    <option value="AR">Arkansas</option>
                                                    <option value="CA">California</option>
                                                    <option value="CO">Colorado</option>
                                                    <option value="CT">Connecticut</option>
                                                    <option value="DE">Delaware</option>
                                                    <option value="DC">District Of Columbia</option>
                                                    <option value="FL">Florida</option>
                                                    <option value="GA">Georgia</option>
                                                    <option value="HI">Hawaii</option>
                                                    <option value="ID">Idaho</option>
                                                    <option value="IL">Illinois</option>
                                                    <option value="IN">Indiana</option>
                                                    <option value="IA">Iowa</option>
                                                    <option value="KS">Kansas</option>
                                                    <option value="KY">Kentucky</option>
                                                    <option value="LA">Louisiana</option>
                                                    <option value="ME">Maine</option>
                                                    <option value="MD">Maryland</option>
                                                    <option value="MA">Massachusetts</option>
                                                    <option value="MI">Michigan</option>
                                                    <option value="MN">Minnesota</option>
                                                    <option value="MS">Mississippi</option>
                                                    <option value="MO">Missouri</option>
                                                    <option value="MT">Montana</option>
                                                    <option value="NE">Nebraska</option>
                                                    <option value="NV">Nevada</option>
                                                    <option value="NH">New Hampshire</option>
                                                    <option value="NJ">New Jersey</option>
                                                    <option value="NM">New Mexico</option>
                                                    <option value="NY">New York</option>
                                                    <option value="NC">North Carolina</option>
                                                    <option value="ND">North Dakota</option>
                                                    <option value="OH">Ohio</option>
                                                    <option value="OK">Oklahoma</option>
                                                    <option value="OR">Oregon</option>
                                                    <option value="PA">Pennsylvania</option>
                                                    <option value="RI">Rhode Island</option>
                                                    <option value="SC">South Carolina</option>
                                                    <option value="SD">South Dakota</option>
                                                    <option value="TN">Tennessee</option>
                                                    <option value="TX">Texas</option>
                                                    <option value="UT">Utah</option>
                                                    <option value="VT">Vermont</option>
                                                    <option value="VA">Virginia</option>
                                                    <option value="WA">Washington</option>
                                                    <option value="WV">West Virginia</option>
                                                    <option value="WI">Wisconsin</option>
                                                    <option value="WY">Wyoming</option>
                                                </select>
                                            </div>
                                        </div>                              
                                    </div>
                                    <div class="form-group">                                    
                                        <label for="txtSendCheckZip" class="control-label">Zipcode</label>
                                        <input type="text" class="form-control" id="txtSendCheckZip" name="txtSendCheckZip">
                                    </div>
                                    
                                   
                                    <div class="form-group">
                                      <label class="control-label" for="txtComments">Comments</label>
                                        <textarea class="form-control" id="txtSponsorComments" name="txtSponsorComments" rows="3"></textarea>
                                    </div>
                                    <input type="submit" value="Submit Request" class="btn btn-default" id="btnSaveSponsorshipRequest">
                                    
                                </form>

                              </div>
                            </div>                            
                            
                            
                            <!-- @Html.ActionLink("Refer a Patient", "DoctorReferral", "Home") -->
                        </div>

                    </div>  
                </div><!-- /#content -->

            </section><!-- /#main-content -->


@section scripts 
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/global.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/CRUD.js")"></script>

}