@{
    ViewBag.Title = "PatientReferral";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PatientReferral</h2>

<div>
    <p>Doctor Name</p><br />
    First Name: <input type="text" id="txtDoctorFirstName" /><br />
    Last Name: <input type="text" id="txtDoctorLastName" /><br />
    PracticeName: <input type="text" id="txtPracticeName" /><br />
    Email address: <input type="email" id="txtEmail" /><br />
    <p>Referral Information</p><br />
    <p>Name of the patient you are referring</p><br />
    First Name: <input type="text" id="txtPatientFirstName" /><br />
    Last Name: <input type="text" id="txtPatientLastName" /><br />
    Patient's Phone #: <input type="text" id="txtPatientPhone" /><br />
    Patient's Email: <input type="email" id="txtEmail" /><br />
    Radiographs sent:<br />
    Yes <input type="radio" name="radiograph" value="Yes" /><br />
    No <input type="radio" name="radiograph" value="No" /><br />
    Comments: <input type="text" id="txtComments" /><br />
    <button id="btnSaveDoctorReferral">Save Referral</button>
</div>


@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/CRUD.js")"></script>
}