@{
    ViewBag.Title = "Home Page";
}


            <section id="hero-image">
            <!-- Slideshow w/ Caption -->
            <div class="flexslider">
              <ul class="slides">
                <li class="mobile-slide">
                  <img src="images/slides/logo-slide.png">                
                </li>
                <li>
                  <img src="images/slides/consultation-slide.jpg" width="100%">
                  <div class="caption">
                    <h1><a href="Home/Contact">Complementary Consultation</a></h1>
                  </div>
                </li>
                <li>
                  <img src="images/slides/bates-slide.jpg" width="100%">
                  <div class="caption">
                    <h1><a href="home/about#meet">Meet Dr. Bates</a></h1>
                  </div>
                </li>
                <li>
                  <img src="images/slides/financial-slide.jpg" width="100%">
                  <div class="caption">
                    <h1><a href="Home/AppointmentRequest">Financial Information</a></h1>
                  </div>
                </li>
              </ul>
            </div>
                
            </section>
            <section id="main-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center text-intro">
                            <h2>At Bates Orthodontics, our friendly, personal service sets us apart</h2>
                            <p>Orthodontist Dr. Sheldon A. Bates and his friendly and talented staff love creating beautiful smiles in Richmond and Mechanicsville, VA!  At Bates Orthodontics we believe that a great smile can change a life!  We also believe that the process of getting to that smile should be fun and convenient.  That’s why we strive to make each step of the process simple.</p>
                            <p>Dr. Bates and his staff desire to help you achieve the smile that you’ve always wanted.  We look forward to meeting you!  Contact our office today for your complimentary consultation!</p>
                            <p>Dr. Bates is extremely driven and strives to be the best orthodontist in Richmond.  He stays up-to-date on the latest research and evaluates the treatment options that will best serve our patients. We realize that the decision to choose an orthodontist is a big one because treatment, on average, lasts around two years.</p>
                            <p>Please get to know us, and learn more about orthodontics for children and adults, our types of braces, and even treatment without braces.  Take advantage of clear treatment options like Invisalign, Invisalign TeenTM and more!</p>
                        </div>
                    </div>
                </div>
                <section id="about" class="bg-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>About Bates Orthodontics</h3>
                            </div>
                            <div class="col-md-4">                                                      
                                <a href="Home/AppointmentRequest" class="feature-link">
                                    <span class="feature-img">
                                        <img src="images/home/complimentary-consultation.jpg" width="100%" class="img-col">
                                    </span>
                                    Request Your Complimentary Consultation
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="home/about#meet" class="feature-link">
                                    <span class="feature-img">
                                        <img src="images/home/meet-dr.jpg" width="100%" class="img-col">
                                    </span>
                                    Meet Dr. Bates
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="Home/Patients#financialinformation" class="feature-link">
                                    <span class="feature-img">
                                        <img src="images/home/financial-info.jpg" width="100%" class="img-col">
                                    </span>
                                    Financial Information
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                <div id="blog" class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>From our blog</h3>
                        </div>

                        <!-- Use ajax to funnel in most recent post -->
                        <div id="featuredBlogPhoto" class="col-md-8">                           
                            <img src="images/sample_blog_photo-post.jpg" width="100%">                          
                        </div>
                        <div id="featuredBlogContent" class="col-md-4">
                            <small>@Html.Raw(ViewBag.Date)</small>
                            
                            <h2 id="blogPostTitle">@Html.Raw(ViewBag.BlogTitle)</h2>
                            <p>@Html.Raw(ViewBag.Content)</p>
                        </div>
                        <!-- end ajax -->

                    </div>
                </div>
            </section><!-- /#main-content -->