@{
    ViewBag.Title = "Patients";
}


			<header class="sub-page-title">							
				<div class="container">
					<div class="row">
						<div class="col-md-6">													
							<img src="~/images/hero/patients.jpg" class="img-responsive">																					
						</div>
						<div class="col-md-6 title-text">
							<h1>New Patients</h1>
							<p>For our new patients, it is our goal to make you feel as comfortable as possible from the moment you enter the practice.  We strive to educate you on all your possible treatment options and customize a plan to reach your goals.​</p>
							<p>In keeping with our goal to ensure your comfort, if you have any questions prior to coming in, please feel free to contact us.</p>
						</div>
					</div>
				</div>
			</header>



			<section id="main-content" class="sub">
				
				<div id="content" class="container">
					<div class="row">
						
						

						<div class="col-md-3 right-sidebar">
							<div id="sidebar" role="complementary">
								<ul class="nav sidebar">
									<li class="active"><a href="#officevisits">Office visits</a>
										<ul class="nav">
											<li><a href="#xray">X-ray</a></li>
											<li><a href="#questions">Questions we address</a></li>
											<li><a href="#bring">What to bring</a></li>											
										</ul>
									</li>
									<li><a href="#financialinformation">Financial information</a>
										<ul class="nav">
											<li><a href="#insurance">Insurance types</a></li>
										</ul>

									</li>				
									<li><a href="#forms">Patient forms</a></li>									
									<li><a href="#faqs">Frequently asked questions</a></li>									
								</ul>
							</div>
						</div>

						<div class="col-md-9" role="main">							

							<section id="officevisits" class="title-section">								
								<div class="row">
									<div class="col-md-12">
										<h2>Office visits</h2>	

										<p>Your first visit lasts about 1 hour, it is very easy and has no charge or obligation.  The main objective of this appointment is to give you information.  It consists of a meeting with our Treatment Coordinator to discuss your orthodontic concerns.  This is followed by a short exam by Dr. Bates.  After this exam, Dr. Bates will explain what he sees and will give his recommendation of whether orthodontic treatment is needed at this time.  If the timing is appropriate for treatment to begin, then our Treatment Coordinator will provide information about treatment costs and payment options that are available.</p>
										
										<div class="row title-section" id="xray">
											<div class="col-md-12">
												<h3>X-ray</h3>
												<p>If Dr. Bates believes that it is necessary, we will take one panoramic X-ray at this visit.  We use this to evaluate the progress of tooth eruption, screen for any pathology (disease) of the jaw bones and assess the levels of bone supporting your teeth. We are very cautious about our use of x-rays, and we take them only when they are needed.  The radiation in our x-rays is low because we use digital sensors that require less radiation to obtain the same image as the old film.</p>
											</div>
										</div>
										<div class="row title-section" id="questions">
											<div class="col-md-12">
												<h3>We will address the following questions:</h3>
												<ul class="disc">
													<li>Is orthodontic treatment needed?</li>
													<li>Is treatment needed now, or should treatment be delayed until appropriate growth, tooth eruption or other factors have occurred?</li>
													<li>How long will treatment take?</li>
													<li>How much will it cost?</li>
													<li>What are my payment options?</li>
												</ul>
											</div>
										</div>
										<div class="row title-section" id="bring">
											<div class="col-md-12">													
												<h3>What to bring</h3>
												<ul class="disc">
													<li>Filled out new patient forms</li>
													<li>Dental insurance card</li>
													<li>Questions about braces or orthodontic treatment</li>
												</ul>
											</div>
										</div>
																													
									</div>
								</div>										
							</section><!--/# -->


							<section id="financialinformation" class="title-section">
									<div class="row">
										<div class="col-md-12">
											<h2>Financial information</h2>	
											<p>Orthodontic treatment is an excellent investment in the overall dental, medical and psychological well-being of children and adults. We believe that financial considerations should not be an obstacle to obtaining this important health service. Therefore, we have a number of financing options available to make orthodontic treatment fit into your budget.  Before treatment begins, you will know what to expect.</p>
											<div class="row title-section" id="insurance">
												<div class="col-md-12">													
													<h3>Preferred insurance provider</h3>
													<div class="row">
														<div class="col-md-6">
															<ul class="disc">
																<li>Aetna</li>
																<li>Ameritas</li>
																<li>Anthem</li>
																<li>Cigna</li>											
															</ul>
														</div>
														<div class="col-md-6">
															<ul class="disc">																
																<li>Delta Dental</li>
																<li>Humana</li>
																<li>MetLife</li>
																<li>United Concordia</li>
															</ul>
														</div>
													</div>
													<p>We accept most private insurance plans and will assist you in determining what portion of your treatment is covered by insurance. Please bring your insurance card or papers on the first visit.</p>
													<p>Please understand, however, that you are ultimately responsible for payment of all services. Should your insurance not cover what is predicted, you will be responsible to pay any uncovered portion.<p>
													<p>For more information please view our Orthodontic Information sheet.<p>
													<a href="/pdf/Orthodontic Insurance.pdf" target="_blank" class="btn btn-defualt feature-btn">Orthodontic Information <i class="fa fa-arrow-circle-o-down"></i></a>	
												</div>
											</div>
										</div>
									</div>									
							</section><!-- /# -->

							<section id="forms" class="title-section">								
								<div class="row">
									<div class="col-md-12">
										<h2>Patient forms</h2>
										<p>Please take a minute to print and fill out the patient information form before your first appointment:</p>
										
										<table class="table table-striped table-hover">	
											<colgroup>
						                       	<col width="30%">
						                        <col width="70%">                      		
						                    </colgroup>		
											<thead>
											<tr>
											  <th>Document</th>
											  <th></th>										          
											</tr>
											</thead>										      
											<tbody>										      
											    <tr>
											        <td>Health History - Child</td>											            											            
											        <td align="right"><!--<a href="" target="_blank">Word</a> <i class="fa fa-file-word-o"></i> &nbsp;&nbsp; --><a href="/pdf/New Health History - 2014.pdf" target="_blank">PDF</a> <a href="http://get.adobe.com/reader/" target="_blank" alt="Download PDF" title="Download PDF"><i class="fa fa-file-pdf-o"></i></a></td>
											    </tr>

											    <tr>
											        <td>Health History - Adult</td>											            											            
											        <td align="right"><!--<a href="" target="_blank">Word</a> <i class="fa fa-file-word-o"></i> &nbsp;&nbsp;--> <a href="/pdf/New Health History - 2014.pdf" target="_blank">PDF</a> <a href="http://get.adobe.com/reader/" target="_blank" alt="Download PDF" title="Download PDF"><i class="fa fa-file-pdf-o"></i></a></td>
											    </tr>											       
											</tbody>
										</table>										
									</div>												
								</div>																																														
							</section><!-- /# -->

							<section id="faqs" class="title-section">								
								<div class="row">
									<div class="col-md-12">
										<h2>Frequently Asked Questions</h2>
										
										<div class="panel-group" id="accordion">
										  <div class="panel panel-default">
										    <div class="panel-heading">
										      <h4 class="panel-title">
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
										          Do Braces Hurt?
										        </a>
										      </h4>
										    </div>
										    <div id="collapseOne" class="panel-collapse collapse">
										      <div class="panel-body">
										        	<p>Most people say they feel pressure or tightness after getting braces and sometimes after adjustment appointments. Minor discomfort is normal for the first few days after you get your braces and after your adjustment appointments. Advil, Tylenol or ibuprofen should be taken (unless allergic to these medications) around the clock as prescribed on the bottle for 3-4 days after these appointments to greatly relieve any discomfort. Also, soft foods like pastas, eggs, bananas, yogurt and ice cream may help.</p>
													<p>Some people say their teeth feel loose a couple of days after their visits. This also is normal. As your teeth move to their correct positions, they will feel loose. Don’t worry—this is only temporary! The teeth will stop feeling loose once they are in their correct position.</p>
										      </div>
										    </div>
										  </div>
										  <div class="panel panel-default">
										    <div class="panel-heading">
										      <h4 class="panel-title">
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
										          What do I do about the sores on the inside of my mouth?
										        </a>
										      </h4>
										    </div>
										    <div id="collapseTwo" class="panel-collapse collapse">
										      <div class="panel-body">
										        <p>Expect, from time to time, that your cheeks and lips may become irritated. They will eventually (usually within the first month) adapt to the feeling of the braces against them. If an ulcer forms, use the wax that we gave you and place it over the braces that seem to be causing the problem. The wax will stay in place even while eating if you make sure that the area is dry before putting the wax in place. Pull off a small piece, roll it up in a little ball and stick it over the braces. Orabase-B can also help with discomfort if applied over the area. Ulcers generally take 7-10 days to heal. Warm salt water rinses can also aid in healing. Call us if a lesion lasts more than 2 weeks.</p>
										      </div>
										    </div>
										  </div>
										  <div class="panel panel-default">
										    <div class="panel-heading">
										      <h4 class="panel-title">
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
										          Do I still have to see my dentist for cleanings and check-ups?
										        </a>
										      </h4>
										    </div>
										    <div id="collapseThree" class="panel-collapse collapse">
										      <div class="panel-body">
										        <p>YES, YES, YES. Please continue to see your dentist for regularly scheduled cleanings. We would like to see you go at least every 6 months to stay on top of things. This is very important. Your dentist may ask that your wires be removed before the cleaning appointment. This makes the hygienist’s job quite a bit easier. If you schedule a cleaning appointment, please let us know in advance (at least 4 weeks) so that we can coordinate appointments with both offices.</p>
										      </div>
										    </div>
										  </div>


										  <div class="panel panel-default">
										    <div class="panel-heading">
										      <h4 class="panel-title">
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
										          What do I do if…?
										        </a>
										      </h4>
										    </div>
										    <div id="collapseFour" class="panel-collapse collapse">
										      <div class="panel-body">
										        <p>If a bracket or band comes loose, or if you have any problems with your braces, please refer to the Emergency section of this website for potential solutions.</p>
										      </div>
										    </div>
										  </div>

										  <div class="panel panel-default">
										    <div class="panel-heading">
										      <h4 class="panel-title">
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
										          How long will it take to complete treatment?
										        </a>
										      </h4>
										    </div>
										    <div id="collapseFive" class="panel-collapse collapse">
										      <div class="panel-body">
										        <p>Treatment time obviously depends on each patient's specific orthodontic problem. In general, treatment times range from 12 to 30 months. The "average" time frame a person is in braces is approximately 22 months.</p>
										      </div>
										    </div>
										  </div>

										  <div class="panel panel-default">
										    <div class="panel-heading">
										      <h4 class="panel-title">
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
										          How much will braces cost? Are financing options available? How does my insurance work?
										        </a>
										      </h4>
										    </div>
										    <div id="collapseSix" class="panel-collapse collapse">
										      <div class="panel-body">
										        <p>It is not possible to give an exact cost for treatment until we have examined you. We will cover the exact cost and financial options during the initial examination. We have many financing options available to accommodate your needs, and we will review these with you. We will also review your insurance policy and help to maximize your benefit and file your claims.</p>
										      </div>
										    </div>
										  </div>
										  <div class="panel panel-default">
										    <div class="panel-heading">
										      <h4 class="panel-title">
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
										          Are there foods I cannot eat while I have braces?
										        </a>
										      </h4>
										    </div>
										    <div id="collapseSeven" class="panel-collapse collapse">
										      <div class="panel-body">
										        <p>Yes. Once treatment begins, we will explain the complete instructions and provide a comprehensive list of foods to avoid. Some of those foods include: ice, hard candy, raw vegetables and all sticky foods (i.e. caramel and taffy). You can avoid most emergency appointments to repair broken or damaged braces by carefully following our instructions.</p>
										      </div>
										    </div>
										  </div>

										  <div class="panel panel-default">
										    <div class="panel-heading">
										      <h4 class="panel-title">
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
										          What is Phase One (early) treatment?
										        </a>
										      </h4>
										    </div>
										    <div id="collapseEight" class="panel-collapse collapse">
										      <div class="panel-body">
										        <p>Phase One treatment, if necessary, is usually initiated on children between the ages of 7 and 10. Phase One treatment lasts about 12-21 months. The primary objective for Phase One treatment is to address significant problems to prevent them from becoming more severe and to improve self-esteem and self-image.</p>
										      </div>
										    </div>
										  </div>
										  <div class="panel panel-default">
										    <div class="panel-heading">
										      <h4 class="panel-title">
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
										          Is it too late to have braces if I am already an adult?
										        </a>
										      </h4>
										    </div>
										    <div id="collapseNine" class="panel-collapse collapse">
										      <div class="panel-body">
										        <p>A surprising percentage of our patients are adults. In fact, 25 percent of all orthodontic patients are adults. Health, happiness and self-esteem are vitally important to adults. No patient is "too old" to wear braces! Two excellent options for adult patients are Clear Braces or Invisalign.</p>
										      </div>
										    </div>
										  </div>


										</div>										
									</div>												
								</div>				
						
						</div>						

					</div>	
				</div><!-- /#content -->

			</section><!-- /#main-content -->