@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="sub-page-title">                         
    <div class="container">
        <div class="row">                        
            <div class="col-md-6">
                
                <img src="~/images/application.jpg" class="img-responsive">                                                                                   
            </div>
            <div class="col-md-6 title-text">
                <h1>Congratulations!<br />Your message has been <br />sent successfully</h1><hr>
                
                <p>We will get back to you momentarily</p>
                <a href="" class="btn btn-small btn-defualt feature-btn">Fill another appointment</a>
                
            </div>
        </div>
    </div>
</header>



<section id="main-content" class="sub">
    

</section><!-- /#main-content -->

