@{
    Layout = null;
}
@using BatesOrtho.Models
@Model BatesOrtho.Models.AppointmentReq

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
      @Model.FirstName
    </div>
</body>
</html>
